{% extends 'base.html' %} {% block content %}
  {% load crispy_forms_tags %}
  <div style="width: 80%; margin: 20px auto;">
    <h1>Hello {{ user }}</h1>

    {% if messages %}
      {% for m in messages %}
        <p class="bg-success p-3 text-white">{{ m }}</p>
      {% endfor %}
    {% endif %}
    <br />

    <p class="text-center">
      <a class="btn btn-info" href="{% url 'pass_change' %}">Change Password</a>
      <a class="btn btn-warning" href="{% url 'pass_change2' %}">Change Password without old pass</a>
    </p>

    <form method="post" style="width: 50%; margin: auto" novalidate>
      {% csrf_token %}

      {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
          <p class="bg-danger text-white p-3">{{ er }}</p>
        {% endfor %}
      {% endif %}
    <!-- {{form | crispy }} -->
      {% for f in form %}
        {{ f.label_tag }} {{ f }} 
        <p class="text-danger">{{ f.errors | striptags }}</p>
      {% endfor %}
      <br />
      <button class="btn btn-warning" type="submit">Update</button>
    </form>
  </div>
{% endblock %}
